*, body{
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
    color:white;
    }

li{
    text-decoration: none;
    list-style: none;
}

/*Mise en style header*/


header{
    background-color: #1E4C51;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0; /*sinon if commençera dans quelques pixels*/
    margin: 0;
    z-index: 2;
}



.logo-big{
    width: 25vw;

}

.logo-small{
    width: 5vw;

}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center; /*ceci pour centrer vérticallement*/
    background-color: #1E4C51;
    color: white;
    font-family: 'Raleway', sans-serif;
    width: 70vw;
}

.fixed{
    position: fixed;
}


a:hover{
    border-bottom: 2px solid white;
}

.icone{
    display: none;
}

a.logo-big:hover, a.logo-small:hover{
    border-bottom: none;
}

/*Mise en style première image*/

.landing{
    background-image: url("images/forest-3823544.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carte_landing{
    background-color: #ef5f64ab;
    width: 85%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name_landing{
    font-family: 'Raleway', sans-serif;
    font-size: 6vw;
    border-bottom: black solid 2px;
}

.postname_landing{
    font-family: 'Bonheur Royale', cursive;
    font-size: 6vw;
}

.contact_button{
    color: white;
    font-family: 'Raleway', sans-serif;
    background-color: #1E4C51;
    position: relative;
    top: 15%;
    padding: 1.5%;
    border: none;
}

.contact_button:hover{
    cursor: pointer;
    font-weight: bold;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.69); 
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.69);
}

/*Mise en style à propos de moi*/

.myself{
    background-color: #7FA7A6;
}

h2{
    padding: 1.5%;
    font-family: 'Raleway', sans-serif;
}

.my_image{
    width: 25%;
    border-radius: 45px;
    border-color: black;
    border-style: inset;
    border-width: initial;
    height: auto;
}

.content{
    background-color: #F1D8BC;
    margin: 3%;
}


.responsiveNav{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    height: 130%;
    justify-content: space-around;
    width: 100%;
    align-items: end;
    padding-inline: 3%;
}

/*navbar responsive*/
@media screen and (max-width: 768px){
    nav a:not(:last-child){
        display: none;
    }

    .icone{
        display: block;
    }

    .icone:hover{
        border: none;
    }


}